.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 8px;

    h3{
        margin: 0;
        padding: 0;
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .order_number{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100px;
        height: 100%;
        background-color: #E01F27;
        color: #fff;
    }
}

.card:hover {
    transition: 0.2s;
    opacity: 0.5;
}