.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #fff;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 8px;

    h3{
        margin: 0;
        padding: 0;
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.card:hover {
    transition: 0.2s;
    opacity: 0.5;
}

.form {
    form{
        display: flex;
        flex-direction: column;
 
        label {
            font-size: 18px;
            margin-bottom: 12px;
        }
 
        input{
            padding: 8px;
            font-size: 18px;
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 5px;
            margin-bottom: 12px;
            width: 100%;
            max-width: 450px;
        }
 
        button, a {
            width: 100%;
            max-width: 450px;
            height: 40px;
            color: #fff;
            background-color: #14D428;
            border: none;
            border-radius: 5px;
            margin-bottom: 16px;
            cursor: pointer;
            font-size: 18px;
        }
 
        a {
            text-align: center;
            background-color: #E01F27;
        }
    }
 }